<h2><u>Log in to your account!</u></h2>

<div class= "fields_with_error">
<h1><%=flash[:error] %></h1>
</div>

<img src="https://0.soompi.io/wp-content/uploads/2019/03/24091805/chae-soo-bin.gif" alt="K-drama" class="center"><br>


<%=render 'form' %>