<h2><u>Sign up here, to keep track of your dramas!</u></h2>

<img src="https://0.soompi.io/wp-content/uploads/2019/01/29180642/ji-sung2.gif" alt="happy kdrama gif" style="width:50%;">
<br>
<%= render 'form' %>