<h2>Add a new review here</h2>

<img src="https://community.digi.com.my/t5/image/serverpage/image-id/7451iCE12F3E4E24382DE/image-size/original?v=1.0&px=-1" alt="K-drama happy" class="center"><br>

<%=render 'form'%>
<div>
<%=button_to "Main Page", dramas_path, method: :get%>
</div>
